@charset "UTF-8";

body {
	min-width: 1340px;
	display: block;
    margin: 15px;
}

.wrap {
	text-align : center;
}

/* h1, h2, form {
	border : 1px solid red;
} */

h1 {
	font-size : 50px;
	color : #526D82;
}

table {
	margin : 0 auto;
	text-align : left;
}

td {
	border: 1px solid gray;
	padding-left: 7px;
}


.title {
	text-align: right;
    background: #EEEEEE;
    border: 1px solid gray;
    font-weight: bolder;
    padding-right: 7px;
}

.birth {
	width : 70px;
}

.hp {
	width : 70px;
}

.addr {
	width : 350px;
}

.addrTitle {
	width : 95px;
	background: #F7F1E5;
}

.submit {
    width: 130px;
    height: 29px;
    background: #526D82;
    border: 1px solid gray;
    color: white;
    font-size: 16px;
    margin-top: 5px;
}

#delete {
	margin: 3%;
    height: 30px;
    color: #F15A59;
    background: #F2E3DB;
    border: 1px solid beige;
}

.top {
    background: #7D9D9C;
    color: white;
    border: 1px solid gray;
    font-size: 15px;
    padding: 4px;
    border-radius: 8px;
}
