@charset "UTF-8";

#page {
	width: 60%;
    background: #D2E1C8;
    /* border: 1px solid #889E81; */
    border-radius: 40px;
    padding: 5%;
    margin: 20% auto;
    box-shadow: 5px 5px 20px #889E81;
}

td {
	height: 25px;
    width: 110%;
	margin : 5% auto;
	text-align : right;
}

table {
	margin: 5% auto;
}